@page
@using Microsoft.Extensions.Localization
@using Talapker.Infrastructure
@model ForgotPasswordConfirmation
@inject IStringLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["ForgotPasswordConfirmation"];
}

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
    <h1 style="color: rgb(13, 110, 253);">@ViewData["Title"]</h1>
    <p style="color: gray">
        @Localizer["CheckEmailPassword"]
    </p>    
</div>

